* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 455px;
    width: 80%;
    min-width: 800px;
    margin: 5px auto;
}

.markdown-side, .result-side {
    height: 100%;
    width: 44%;
    float: left;
    padding: 15px;
    margin: 5px;
    background-color: #CCC;
}

textarea {
    display: block;
    width: 92%;
    margin: auto;
    height: 370px;
    padding: 15px;
}

button {
    margin-top: 10px;
}

.result {
    padding: 15px;
    background-color: #EEE;
    height: 375px;
}

pre {
    word-wrap: break-word;
}