/* Silhouette basic */

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

input, button, p {
    margin: 5px 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
}

ul, ol {
    list-style-type:none;
}

.navbar-right {
    margin-right: 15px;
}

hr {
    margin-top: 15px;
}

fieldset {
    margin-top: 100px;
}

legend {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

a.btn {
    margin-top: 15px;
}

.form-control {
    border-radius: 0;
}

.provider {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
    text-align: center;
    margin-top: 20px;
}

.user {
    margin-top: 50px;
}
.user .data {
    margin-top: 10px;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}

.btn {
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-lg {
    font-size: 18px;
}

.alert {
    margin-top: 50px;
}

/* Markdown custom */

.markdown-container {
    min-width: 1000px;
}

.markdown-input, .markdown-result {
    width: 49.5%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
}

.history-input textarea, .history-result .markdown-preview-content {
    min-height: 170px;
    max-height: 170px;
    overflow-y: auto;
}

.markdown-input textarea {
    height: 310px;
    border-radius: 4px!important;
    resize: none;
}

.markdown-result pre {
    height: 310px;
}

.markdown-preview-block {
    width: 50%;
    margin-bottom: 50px;
    margin-left: 23.3%;
}

.markdown-preview-content {
    min-height: 230px;
    padding: 15px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.history-text {
    margin-left: 30px;
}