@(user: models.User, parseOperations: List[models.ParseOperation])(implicit messages: Messages)

@main(Messages("title.parse.history"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <hr>
        @if(parseOperations.isEmpty) {
            <p>No parse operations saved yet.</p>
        } else {
            <ul>
            @parseOperations.map { parseOperation =>
                <li>
                    @parseOperation.textToParse <br/>
                    @parseOperation.resultHtml <br/>
                    created on : @org.joda.time.format.DateTimeFormat.forPattern("MMM d, yyyy HH:mm:ss").print(parseOperation.creationDateTime)
                    <a href="@routes.MarkdownController.deleteParseOperation(parseOperation.id)" class="delete">delete</a>
                    <hr>
                </li>
            }
            </ul>
        }
    </div>
}
