@(markdownForm: Form[forms.MarkdownForm.Data], user: Option[models.User] = None, textToParse: String, resultHtml: String)(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@main(Messages("home.title"), user) {
    <div class="markdown-container" xmlns="http://www.w3.org/1999/html">
        <div class="markdown-half">
            <legend>@Messages("markdown.enter.request")</legend>
            @helper.form(action = routes.MarkdownController.parseMarkdown()) {
                @helper.CSRF.formField
                @b3.textarea(markdownForm("text"), '_hiddenLabel -> "", 'placeholder -> Messages("markdown.example.text"),
                    'class -> "form-control input-lg", 'rows -> "12")
                <div class="form-group">
                    <div>
                        <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("markdown.parse")</button>
                    </div>
                </div>
            }
        </div>
        <div class="markdown-half">
            <legend>@Messages("markdown.result")</legend>
            <pre>@resultHtml</pre>
        </div>
    </div>
}